<!DOCTYPE html>
<html lang="en">

<head>
    <title>AI POLLUTION INSPECTOR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container-fluid p-3 text-white text-center" style="background-color: #00285A;">
        <h1>AI POLLUTION INSPECTOR</h1>
    </div>
    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <div class="alert alert-info" role="alert">
            <form method="post" action="/upload" enctype="multipart/form-data"
                class="row row-cols-lg-auto g-3 align-items-center">
                <div>
                    <p>
                        <input type="file" name="file" autocomplete="off" required class="form-control">
                    </p>
                </div>
                <p>
                    <input type="submit" value="Upload" class="btn btn-primary">
                </p>
            </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col">
                            <img src="https://picsum.photos/200" style="max-height: 30vh;" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5>License plate : <span class="card-title">ML 05 3204</span></h5>
                                <p class="card-text">Send e-slip</p>
                                <div class="row">
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-success" type="button">Yes</button>
                                        <button class="btn btn-danger" type="button">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if filename %}
        <script type="text/javascript">
            time_id = -1;
            function start_infering() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                    time_id = xhttp.responseText;
                    // document.body.innerHTML = xhttp.responseText;
                    }
                };
                xhttp.open("GET", "/infer/{{filename}}", true);
                xhttp.send();
            }
            
            function periodic_results() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                    // time_id = xhttp.responseText;
                    document.body.innerHTML += xhttp.responseText;
                    }
                };
                xhttp.open("GET", "/results/"+time_id, true);
                xhttp.send();
            }
            start_infering();
            var intervalId = setInterval(function() {
                periodic_results();
            }, 5000);
        </script>
    {% endif %}
</body>

</html>