<!DOCTYPE html>
<html lang="en">

<head>
    <title>AI POLLUTION INSPECTOR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container-fluid p-3 text-white text-center" style="background-color: #00285A;">
        <h1>AI POLLUTION INSPECTOR</h1>
    </div>
    <div class="container mt-5">
        <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %} -->
        <div class="alert alert-info d-flex justify-content-center" role="alert">
            {% if filename %}
                {{filename}}
            {% else %}
                <form method="post" action="/upload" enctype="multipart/form-data"
                    class="row row-cols-lg-auto g-3 align-items-center">
                    <div>
                        <p>
                            <input type="file" name="file" autocomplete="off" required value="{{filename}}" class="form-control">
                        </p>
                    </div>
                    <p>
                        <input type="submit" value="Upload" class="btn btn-primary">
                    </p>
                </form>
            {% endif %}
        </div>

        <div id="vehicles_class" class="container">
            <!-- <div class="row">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col">
                            <img src="https://picsum.photos/200" style="max-height: 30vh;" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5>License plate : <span class="card-title">ML 05 3204</span></h5>
                                <p class="card-text">Send e-slip</p>
                                <div class="row">
                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-success" type="button">Yes</button>
                                        <button class="btn btn-danger" type="button">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    
    {% if filename %}
        <script type="text/javascript">
            time_id = -1;
            function start_infering() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                    time_id = xhttp.responseText;
                    periodic_results();
                    // document.body.innerHTML = xhttp.responseText;
                    }
                };
                xhttp.open("GET", "/infer/{{filename}}", true);
                xhttp.send();
            }
            
            function periodic_results() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        const obj = JSON.parse(xhttp.responseText);
                        display_results(obj['data'].slice(0,-1))
                    // time_id = xhttp.responseText;
                    // document.body.innerHTML += xhttp.responseText;
                    }
                };
                xhttp.open("GET", "/results/"+time_id, true);
                xhttp.send();
            }
            start_infering();
            // var intervalId = setInterval(function() {
            //     periodic_results();
            // }, 5000);
            displayed_numberplates = [];
            function display_results (returned_output)
            {
                for(var ii =0; ii<returned_output.length; ii++) {
                    // console.log(returned_output[ii][0])
                    if(displayed_numberplates.includes(returned_output[ii][0])) {
                        ;
                    } else {
                        displayed_numberplates.push(returned_output[ii][0]);
                        document.getElementById("vehicles_class").innerHTML +='<div class="row"><div class="card mb-3" id="bg_'+returned_output[ii][0]+'"><div class="row no-gutters"><div class="col"><img src="'+returned_output[ii][1]+'" style="max-height: 30vh;" class="card-img" alt="..."></div><div class="col-md-8"><div class="card-body"><h5>License plate : <span class="card-title text-uppercase">'+returned_output[ii][0]+'</span></h5><p class="card-text" id="text_'+returned_output[ii][0]+'">Send e-slip</p><div class="row"><div class="d-grid gap-2 d-md-block"><button class="btn btn-success" type="button" onclick="send_mail(\''+returned_output[ii][0]+'\')">Yes</button><button class="btn btn-danger" type="button" onclick="turn_red(\''+returned_output[ii][0]+'\')">No</button></div></div></div></div></div></div></div>';
                    }
                }
            }
            function send_mail(lp_no) {
                var req = new XMLHttpRequest();
                var result = document.getElementById('result');
                req.onreadystatechange = function()
                {
                    if(this.readyState == 4 && this.status == 200) {
                        document.getElementById("text_" + lp_no).innerHTML = "E-slip sent";
                        document.getElementById("text_" + lp_no).classList.add("text-success");
                        // document.getElementById("bg_" + lp_no).classList.add("bg-success");
                    }
                }

                req.open('GET', '/mail/'+lp_no, true);
                req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
                req.send();
            }
            function turn_red(lp_no) {
                document.getElementById("text_" + lp_no).innerHTML = "E-slip cancelled";
                document.getElementById("text_" + lp_no).classList.add("text-danger");
            }
        </script>
    {% endif %}
</body>

</html>